body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../assets/bg.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  right: 30%;
  top: 35%;
  width: 500px;
  height: auto;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.modal-content {
  background-color: #fefefe;
  height: auto;
  border: 1px solid #888;
  width: auto;
}

.display-container {
  position: relative;
}

.grayscale-min {
  filter: grayscale(50%);
}

.text-white {
  color: white;
}

.text-blue {
  color: #5755fe;
  margin-top: -20px;
}

.display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  padding: 48px;
}

.jumbo {
  font-size: 64px !important;
}

.jumbo-title {
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: -20px;
}

.xxlarge {
  font-size: 36px !important;
}

.hide-medium-font {
  margin-top: -4rem;
  margin-left: 10px;
  color: #000000;
}

.hide-small-font {
  margin-top: -8rem;
  margin-left: 20px;
}

.button-yellow {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(224, 187, 25);
}

.button-yellow-hover {
  background-color: rgb(241, 213, 88);
  color: black;
  margin-left: 30px;
  width: auto;
}

.padding-large {
  padding: 12px 24px !important;
}

.text-large {
  font-size: 18px !important;
}

.hover-opacity {
  opacity: 0.6;
}

.main-style {
  padding: 50px 16px;
}

.text-center {
  text-align: center !important;
}

.row-padding {
  padding: 0 8px;
}

.mission_content {
  display: flex;
  align-items: center;
}

.flex-box {
  align-items: center;
  justify-content: start;
}

@media screen and (min-width: 600px) {
  .flex-box {
    display: flex;
  }
  .flex-box img {
    max-width: 50 0.333%;
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .flex-box img {
    width: 100%;
    max-width: none;
  }
  .flex-box {
    display: block;
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

@media (max-width: 600px) {
  .hide-small {
    display: none !important;
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .hide-medium {
    display: none !important;
  }
}

.w3-bar .w3-button {
  padding: 16px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.8;
}

.xxlarge {
  font-size: 36px !important;
}

.text-large {
  font-size: 18px !important;
}

.text-center {
  text-align: center !important;
}

.contact {
  padding: 50px 16px;
  margin: 0px 50px;
}

@media screen and (min-width: 600px) {
  .contact {
    padding: 128px 16px;
    margin: 0px 250px;
  }
}

#contact {
  margin-top: 200px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-com {
  align-items: center;
  display: flex;
  justify-content: left;
}

.header {
  padding: 0px 30px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
}

.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right #header_checkout_menu {
  display: flex;
  align-items: center;
}

.header-right #header_checkout_menu svg {
  margin-left: 5px;
}

.header-right #header_userProfile_menu {
  display: flex;
  align-items: center;
}

.header-right #header_userProfile_menu svg {
  margin-left: 5px;
}

@media screen and (max-width: 830px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .header-right #header_checkout_menu {
    justify-content: center;
  }

  .header-right #header_userProfile_menu {
    justify-content: center;
  }

  .header a {
    width: 100%;
  }

  .header-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding: 0px 20px;
  }
}
.footer-logo-com {
  display: flex;
  justify-content: left;
}

.footer {
  padding: 10px 30px;
  margin-top: 20px;
  align-items: center;
  overflow: hidden;
  background-color: #f1f1f1;
  justify-content: space-between;
}

.footer a {
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.footer a.logo {
  margin-top: 5px;
  font-size: 25px;
  font-weight: bold;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.sections,
.features {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.sections a {
  padding: 5px 0px;
  margin-left: 10px;
}

.sections section.sec {
  font-weight: bold;
  margin-left: 0px;
  padding: 8px 0px;
}

.features a {
  padding: 5px 0px;
  margin-left: 10px;
}

.features section.fea {
  font-weight: bold;
  margin-left: 0px;
  padding: 8px 0px;
}

@media screen and (max-width: 500px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .sections,
  .features {
    display: flex;
    flex-direction: column;
    margin-left: 73px;
  }
}
